input {
  margin-right: 10px;
  border-radius: 5px;
}

#income {
  background-color: #74d680;
}

#expenses {
  background-color: #ff7878;
}

.error {
  color: red;
}

#title {
  border: solid black;
}

#entry {
  border-left: solid black;
  border-right: solid black;
  border-bottom: solid black;
}

a {
  color: black;
  cursor: pointer;
}
