<div class="container">
  <div class="text-center">
    <h1> Budget Calculator </h1>
    <h3> Your Total: ${{ total.toFixed(2) }}</h3>
    <form [formGroup]="recordForm" (ngSubmit)="onSubmit()">
      <div>
        <input type="text" id="name" [(ngModel)]="textName" formControlName="name" #name required placeholder="Name">
        <input type="number" id="amount" [(ngModel)]="textAmount"  formControlName="amount" #amount required placeholder="Amount">
        <button class="btn btn-success" type="submit" [disabled]="!recordForm.valid">{{editMode ? 'Update' : 'Add'}}</button>
        <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
        <!-- <p class="error" *ngIf="!recordForm.valid && recordForm.touched">Please enter a valid input!</p> -->
      </div>
    </form>
  </div>
  <br>
  <br>
  <div class="container" id="display">
    <div class="row" id="title">
      <div class="col" id="income">
        <h4 class="text-center">Income</h4>
      </div>
      <div class="col" id="expenses">
        <h4 class="text-center">Expenses</h4>
      </div>
    </div>
    <div class="row" id="entry" *ngFor="let item of record; let i=index">
      <div class="col" id="income">
        <a class="list" *ngIf="item.amount>=0" (click)="itemClicked(item, i)"> {{ item.name }} - ${{ item.amount }} </a>
      </div>
      <div class="col" id="expenses">
        <a class="list" *ngIf="item.amount<0" (click)="itemClicked(item, i)"> {{ item.name }} - ${{ -1*item.amount }} </a>
      </div>
    </div>
  </div>
</div>